################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/x64/Debug
/Chess.vcxproj
/Chess.vcxproj.filters
/Chess.vcxproj.user
